/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Eigen font toegevoegd dat lijkt op het originele font van de originele website*/
@font-face {
    font-family: 'Provicali';
    src: url('../Fonts/Provicali.otf');
}

/* HOME PAGINA */

body {
    margin: auto;
    max-width: 1000px;
}

/******************/
/* Algemene tekst */
/******************/
h1 {
    margin-left: 20px;
    display: flex;
    color: white;
    font-family: 'Provicali';
}

h2 {
    justify-content: center;
    font-family: 'Provicali';
}

h3 {
    font-family: 'Provicali';
}

p {
    display: flex;
    justify-content: center;
    color: white;
    font-family: monospace;
    text-align: center;
    margin: 20px;
}

/******************************/
/* MAMBA FOREVER EDITION DEEL */
/******************************/

/* Mamba forever edition deel container*/
.container {
    background-repeat: no-repeat;
    background-position: center;
    padding: 2px;
    margin: 5px;
    height: 530px;
}

/* Mamba forever edition deel container responsive height */
@media (min-width:330px) {
    .container {
        height: 600px;
    }
}


@media (min-width:440px) {
    .container {
        height: 675px;
    }
}

/* h1 in de container van Mamba Forever edition deel */
.container h1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    font-family: 'Provicali';
    margin-top: 250px;
    margin-right: 30px;
}

/* container h1 responsive positie */
@media (min-width: 322px) {
    .container h1 {
        margin-top: 280px;
        margin-right: 330px;
    }
}

@media (min-width: 330px) {
    .container h1 {
        margin-top: 300px;
        margin-right: 330px;
    }
}

@media (min-width: 340px) {
    .container h1 {
        margin-top: 300px;
        margin-right: 330px;
    }
}

/* De p blijft linksonder de pagina */
.container p {
    display: flex;
    text-align: left;
    justify-content: flex-start;
}

/* Preorder button*/
.PreOrderButton {
    display: flex;
    justify-content: center;
    background-color: red;
    max-width: 220px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    text-decoration: none;
    font-family: 'Provicali';
    color: white;
}

.PreOrderButton:Focus {
    background-color: darkred;
}

.PreOrderButton:hover {
    background-color: black;
    color: red;
}

.Button {
    background-color: red;
}

.Button:hover {
    background-color: black;
    color: red;
}


/********/
/*HEADER*/
/********/
header {
    width: 95%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 0 .7em;
    top: 0;
    max-width: 1000px;
}

/* header opmaak */
header a {
    text-decoration: none;
    color: white;
    font-family: 'Provicali';
}


/**********/
/*NBA LOGO*/
/**********/

/* positie NBA logo */
header a:nth-of-type(1) {
    z-index: 100;
}

/* grootte en ruimte voor de NBA logo */
header a:nth-of-type(1) img {
    padding: 10px;
    height: 50px;
}

header a:nth-of-type(1):focus {
    border-color: red;
    border-style: solid;
}


/*****************/
/*NU KOPEN BUTTON*/
/*****************/

/* Nu kopen button */
header a:nth-of-type(2) {
    display: block;
    width: 100px;
    height: 30px;
    text-align: center;
    color: white;
    background-color: red;
    padding: 5px;
    font-family: 'Provicali';
    z-index: 100;
}

header a:nth-of-type(2):focus {
    background-color: darkred;
}

header a:nth-of-type(2):hover {
    background-color: black;
    color: red;
}

header nav {
    order: 2;
}


/****************/
/*HAMBURGER MENU*/
/****************/

/* Hamburger menu */
header nav button {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    z-index: 100;
}

header nav button:focus {
    border-color: red;
    border-style: solid;
}

/* content in de hamburger menu */
header nav ul {
    margin: 0;
    padding: 4em 0 0;
    background: Black;
    list-style: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translatex(100%);
    transition: 0.5s;
}

/* content in de hamburgermenu wordt getoond */
nav.toonMenu ul {
    transform: translateX(0)
}

/*3 streepjes voor menu */
nav button::before {
    content: "\2630 ";
    display: inline-block;
    color: red;
    font-size: 36px;
}

/* X content voor menu */
nav.toonMenu button::before {
    content: "\274C";
    display: inline-block;
    color: red;
    font-size: 28px;
}

/* positie tekst in de hamburger menu */
header li a {
    display: block;
    padding: 1em 1em 1em 3.5em;
    text-align: center;
}


/*********************/
/* DE ZOEKTOCHT DEEL */
/*********************/

/* De zoektocht deel container */
.container2 {
    padding: 2px;
    margin: 5px;
}

.container2 h1 {
    color: black;
}

/* container2 p responsive font-size */
@media (min-width: 375px) {
    .container2 p {
        font-size: 15px;
    }
}

@media (min-width: 500px) {
    .container2 p {
        font-size: 17px;
    }
}

@media (min-width:810px) {
    .container2 p {
        font-size: 20px;
    }
}

/* Info button */
.InfoButton {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
    max-width: 300px;
    border-color: red;
    border-style: solid;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Provicali';

}

.InfoButton:focus {
    background-color: darkred;
}

/* Beats afbeelding */
.Beats {
    display: block;
    margin: auto;
    width: 95%;
}


/***************/
/* YOUTUBE DEEL*/
/***************/

/* Een screenshot afbeelding van een Youtube video */
.Screenshot {
    display: block;
    width: 100%;
    height: 200px;
}

/* Screenshot afbeelding van een Youtube video responsive height */
@media (min-width: 414px) {
    .Screenshot {
        height: 300px;
    }
}

@media (min-width:540px) {
    .Screenshot {
        height: 400px;
    }
}

@media (min-width:800px) {
    .Screenshot {
        height: 500px;
    }
}

/***********************/
/* KIES JE VERSIE DEEL */
/***********************/

/* Kies je versie deel container */
.container3 {
    background-repeat: no-repeat;
    background-position: center;
    padding: 2px;
    margin: 5px;
}

/* h1 van de kies je versie deel container */
.container3 h1 {
    color: black;
}

.container3 h3 {
    font-family: 'Provicali';
    font-size: 15px;
    text-align: center;
}

/* p van de kies je versie deel container */
.container3 p {
    color: black;
    max-width: 170px;
    text-align: center;
    margin: auto;
}

/* container3 p responsive  font-size */
@media (min-width: 375px) {
    .container3 p {
        font-size: 15px;
    }
}

@media (min-width: 500px) {
    .container3 p {
        font-size: 17px;
    }
}

@media (min-width:810px) {
    .container3 p {
        font-size: 15px;
        text-align: center;
    }
}

/* zorgt dat de content op klein beeld onder elkaar staat en naast elkaar komt te staan als het beeld vergroot in de kies je versie deel */
.container3 ul {
    display: flex;
    list-style: none;
    margin-right: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.container3 li {
    padding: 10px;
}

/* Lillard cover plaatje */
.LillardCover {
    display: flex;
    margin: auto;
    height: 300px;
}

/* Lillard cover plaatje responsive height */
@media (min-width:370px) {
    .LillardCover {
        height: 350px;
    }
}

@media (min-width:500px) {
    .LillardCover {
        height: 500px;
    }
}

@media (min-width:730px) {
    .LillardCover {
        height: 200px;
    }
}

/* Mamba cover plaatje */
.MambaCover {
    display: flex;
    margin: auto;
    height: 300px;
}

/* Mamba cover plaatje responsive height */
@media (min-width:370px) {
    .MambaCover {
        height: 350px;
    }
}

@media (min-width:500px) {
    .MambaCover {
        height: 500px;
    }
}

@media (min-width:730px) {
    .MambaCover {
        height: 200px;
    }
}

/* Plaatje van de Virtual Currency onder aanbieding in de kies je versie deel container */
.VirtualCurrency {
    display: flex;
    height: 300px;
    margin: auto;
}

/* Virtual Currency plaatje responsive height */
@media (min-width:370px) {
    .VirtualCurrency {
        height: 350px;
    }
}

@media (min-width:500px) {
    .VirtualCurrency {
        height: 500px;
    }
}

@media (min-width:730px) {
    .VirtualCurrency {
        height: 200px;
    }
}

/* Plaatje van de Zion Virtual Currency onder aanbieding in de kies je versie deel container */
.ZionVirtualCurrency {
    display: flex;
    height: 300px;
    margin: auto;
    margin-top: 90px;
}

/* Virtual Currency plaatje responsive height */
@media (min-width:370px) {
    .ZionVirtualCurrency {
        height: 350px;
    }
}

@media (min-width:500px) {
    .ZionVirtualCurrency {
        height: 500px;
    }
}

@media (min-width:730px) {
    .ZionVirtualCurrency {
        height: 200px;
    }
}

/*Zion cover plaatje */
.ZionCover {
    display: flex;
    margin: auto;
    height: 300px;
}

/* Zion cover plaatje responsive height */
@media (min-width: 370px) {
    .ZionCover {
        height: 350px;
    }
}

@media (min-width: 500px) {
    .ZionCover {
        height: 500px;
    }
}

@media (min-width:730px) {
    .ZionCover {
        height: 200px;
    }
}

/*Mamba forever cover plaatje */
.MambaForeverCover {
    display: flex;
    margin: auto;
    height: 300px;
}

/* Mamba forever cover plaatje responsive height */
@media (min-width: 370px) {
    .MambaForeverCover {
        height: 350px;
    }
}

@media (min-width: 500px) {
    .MambaForeverCover {
        height: 500px;
    }
}

@media (min-width:730px) {
    .MambaForeverCover {
        height: 200px;
    }
}

/*************************/
/* COURTSIDE REPORT DEEL */
/*************************/

/* Courside report deel container */
.container4 {
    padding: 2px;
    margin: 5px;
    min-height: 500px;
}

.container4 h1 {
    color: black;
}


.container4 p {
    display: flex;
    justify-content: flex-start;
    color: black;
}


/**********/
/* FOOTER */
/**********/

/* De footer van de website */
footer {
    background-color: black;
    padding: 2px;
    margin: 5px;
    height: 800px;
}

footer p {
    margin: auto;
    padding: 30px;
    max-width: 800px;
}

/* p van de footer responsive font-size */
@media (min-width: 375px) {
    footer p {
        font-size: 15px;
    }
}

@media (min-width: 500px) {
    footer p {
        font-size: 17px;
    }
}

@media (min-width:810px) {
    footer p {
        font-size: 20px;
    }
}

/* Bovenste links van de footer */
.Text a {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: white;
}

.Text a:focus {
    color: red;
}

.Text ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 30px;
    justify-content: center;

}

.Text li {
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-right: 30px;

}

/* Onderste links van de footer */
.Text2 a {
    display: flex;
    text-decoration: none;
    color: white;
}

.Text2 a:focus {
    color: red;
}

.Text2 ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;

}

.Text2 li {
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-right: 30px;

}

/* buttons om de taal te kiezen */
#land {
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px;
    background-color: darkgray;
    color: white;
}

#land:focus {
    background-color: darkred;
}

#land2 {
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px;
    background-color: darkgray;
    color: white;
}

#land2:focus {
    background-color: darkred;
}

/**************/
/*Social icons*/
/**************/

/* Social icons */
.Social ul {
    display: flex;
    justify-content: center;
}

.Social li {
    margin-right: 30px;
}

.Social a:focus {
    border-color: red;
    border-style: solid;
    padding: 3px;
}

/* Everyone plaatje in de footer */
.Everyone {
    display: block;
    margin: auto;
}


/****************/
/* KOPEN PAGINA */
/****************/

/* kopen pagina container */
.KopenPagina {
    margin: 0;
    padding: 2px;
    margin: 5px;
}

/* De content van de kopen pagina wordt in tweeen gesplitst als de width minimaal 900px is */
@media (min-width:900px) {
    .KopenPagina {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 2rem;
        margin: auto;
        padding: 1.5em;
        height: 1000px;
    }
}

/* Mamba cover plaatje in kopen pagina container */
.MambaCover2 {
    display: flex;
    margin: auto;
    height: 300px;
}

/* Mamba cover plaatje responsive height */
@media (min-width:325px) {
    .MambaCover2 {
        height: 350px;
    }
}

@media (min-width:400px) {
    .MambaCover2 {
        height: 400px;
    }
}

@media (min-width:500px) {
    .MambaCover2 {
        height: 500px;
    }
}

@media (min-width:650px) {
    .MambaCover2 {
        height: 600px;
    }
}

@media (min-width:900px) {
    .MambaCover2 {
        height: 500px;
    }
}

/* linkerkant van de pagina op monitor */
aside {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* rechterkant van de pagina op monitor */
main {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.KopenPagina h1 {
    margin-top: 50px;
    margin-bottom: 10px;
    color: red;
}

/* Kopen pagina h1 responsive font-size */
@media (min-width: 600px) {
    .KopenPagina h1 {
        font-size: 40px;
    }
}

@media (min-width: 700px) {
    .KopenPagina h1 {
        font-size: 60px;
    }
}

@media (min-width: 995px) {
    .KopenPagina h1 {
        font-size: 80px;
    }
}

.KopenPagina p {
    font-family: 'Provicali';
    font-size: 15px;
}

/* positie console iconen */
div.KopenPagina ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center;
}

div.KopenPagina nav ul {
    margin: 0;
    padding: 4em 0 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
}

/* PlayStation icoon */
.Playstation {
    background-color: black;
}

.Playstation:active {
    background-color: white;
}

.Playstation:focus {
    background-color: red;
}

/* Xbox icoon */
.Xbox {
    background-color: black;
}

.Xbox:active {
    background-color: white;
}

.Xbox:focus {
    background-color: red;
}

/* Steam icoon */
.Steam {
    background-color: black;
}

.Steam:active {
    background-color: white;
}

.Steam:focus {
    background-color: red;
}

/* Stadia icoon */
.Stadia {
    background-color: black;
}

.Stadia:active {
    background-color: white;
}

.Stadia:focus {
    background-color: red;
}

/* Huidige generatie balk */
.HuidigeGeneratie {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 320px) {
    .HuidigeGeneratie {
        width: 300px;
    }
}

@media (min-width: 375px) {
    .HuidigeGeneratie {
        width: 355px;
    }
}

@media (min-width: 414px) {
    .HuidigeGeneratie {
        width: 400px;
    }
}

@media (min-width: 900px) {
    .HuidigeGeneratie {
        width: 450px;
    }
}

/* Volgende generatie balk */
.VolgendeGeneratie {
    display: flex;
    justify-content: center;
}

@media (min-width: 320px) {
    .VolgendeGeneratie {
        width: 300px;
    }
}

@media (min-width: 375px) {
    .VolgendeGeneratie {
        width: 355px;
    }
}

@media (min-width: 414px) {
    .VolgendeGeneratie {
        width: 400px;
    }
}

@media (min-width: 900px) {
    .VolgendeGeneratie {
        width: 450px;
        margin-top: 135px;
    }
}

@media (min-width: 905px) {
    .VolgendeGeneratie {
        margin-top: 155px;
    }
}

/* Editie buttons */
.Editie {
    display: flex;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    justify-content: center;
    background: black;
    font-family: 'Provicali';
    color: white;
}

.Editie:active {
    background-color: red;
}

.Editie:focus {
    background: darkred;
}

/* PlayStation store button */
.PlaystationStore {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: red;
    width: 280px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    font-family: 'Provicali';
    color: white;
}

.PlaystationStore:focus {
    background-color: darkred;
}

/* Bonus content */
.Bonus {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin-bottom: 30px;
    height: 300px;
    text-align: center;
    border-style: solid;
    border-color: red;
}

/* Bonus content responsive width */
@media (min-width:344px) {
    .Bonus {
        width: 300px;
    }
}

@media (min-width:440px) {
    .Bonus {
        width: 400px;
    }
}

.Bonus h2 {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    color: red;
    text-align: left;
}

.Bonus p {
    display: flex;
    margin: 10px;
    text-align: left;
}

/* Veel gestelde vragen link */
.Vragen {
    display: flex;
    text-align: center;
    background-color: rgb(0, 0, 0, 0);
    border-style: solid;
    border-color: red;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 50px;
    text-decoration: none;
    font-family: 'Provicali';
    color: white;
}

.Vragen:focus {
    background-color: darkred;
}

/* Veel gestelde vragen link responsive width */
@media (min-width:344px) {
    .Vragen {
        width: 300px;
    }
}

@media (min-width:440px) {
    .Vragen {
        width: 360px;
    }
}
