/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: "Provicali";
    src: url("Provicali.otf");
}

/* HOME PAGINA */

body {
    margin: auto;
    max-width: 1000px;
}


/******************************/
/* MAMBA FOREVER EDITION DEEL */
/******************************/
.container {
    background-repeat: no-repeat;
    background-position: center;
    padding: 2px;
    margin: 5px;
    height: 530px;
}

@media (min-width:330px) {
    .container {
        height: 600px;
    }
}

@media (min-width:440px) {
    .container {
        height: 675px;
    }
}

.container h1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    font-family: "Provicali";
    margin-top: 250px;
    margin-right: 30px;
}

@media (min-width: 322px) {
    .container h1 {
        margin-top: 280px;
        margin-right: 330px;
    }
}

@media (min-width: 330px) {
    .container h1 {
        margin-top: 300px;
        margin-right: 330px;
    }
}

@media (min-width: 340px) {
    .container h1 {
        margin-top: 300px;
        margin-right: 330px;
    }
}


.container p {
    display: flex;
    text-align: left;
    justify-content: flex-start;
}


/*********/
/* tekst */
/*********/
h1 {
    margin-left: 20px;
    display: flex;
    color: white;
    font-family: "Provicali";
}

h2 {
    justify-content: center;
    font-family: "Provicali";
}

p {
    display: flex;
    justify-content: center;
    color: white;
    font-family: monospace;
    text-align: center;
    margin: 20px;
}

.PreOrderButton {
    display: flex;
    justify-content: center;
    background-color: red;
    max-width: 220px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    text-decoration: none;
    font-family: "Provicali";
    color: white;
}

.PreOrderButton:Focus {
    background-color: darkred;
}

.PreOrderButton:hover {
    background-color: black;
    color: red;
}

.Button {
    background-color: red;
}

.Button:hover {
    background-color: black;
    color: red;
}


/********/
/*HEADER*/
/********/
header {
    width: 95%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 0 .7em;
    top: 0;
    max-width: 1000px;
}

header a {
    text-decoration: none;
    color: white;
    font-family: "Provicali";
}


/**********/
/*NBA LOGO*/
/**********/
header a:nth-of-type(1) {
    z-index: 100;
}

header a:nth-of-type(1) img {
    padding: 10px;
    height: 50px;
}


/*****************/
/*NU KOPEN BUTTON*/
/*****************/
header a:nth-of-type(2) {
    display: block;
    width: 100px;
    height: 30px;
    text-align: center;
    color: white;
    background-color: red;
    padding: 5px;
    font-family: "Provicali";
    z-index: 100;
}

header a:nth-of-type(2):focus {
    background-color: darkred;
}

header a:nth-of-type(2):hover {
    background-color: black;
    color: red;
}

header nav {
    order: 2;
}


/****************/
/*HAMBURGER MENU*/
/****************/
header nav button {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    z-index: 100;
}

header nav ul {
    margin: 0;
    padding: 4em 0 0;
    background: Black;
    list-style: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translatex(100%);
    transition: 0.5s;
}

nav.toonMenu ul {
    transform: translateX(0)
}

nav button::before {
    content: "\2630 ";
    display: inline-block;
    color: red;
    font-size: 36px;
}

nav.toonMenu button::before {
    content: "\274C";
    display: inline-block;
    color: red;
    font-size: 28px;
}

header li a {
    display: block;
    padding: 1em 1em 1em 3.5em;
    text-align: center;
}


/*********************/
/* DE ZOEKTOCHT DEEL */
/*********************/
.container2 {
    padding: 2px;
    margin: 5px;
}

.container2 h1 {
    color: black;
}

@media (min-width: 375px) {
    .container2 p {
        font-size: 15px;
    }
}

@media (min-width: 500px) {
    .container2 p {
        font-size: 17px;
    }
}

@media (min-width:810px) {
    .container2 p {
        font-size: 20px;
    }
}

.InfoButton {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
    max-width: 200px;
    margin: auto;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: "Provicali";

}

.InfoButton:focus {
    background-color: darkgray;
}

.Beats {
    display: block;
    margin: auto;
    width: 95%;
}


/***************/
/* YOUTUBE DEEL*/
/***************/
.Youtube {
    display: block;
    width: 100%;
    height: 200px;
}

@media (min-width: 414px) {
    .Youtube {
        height: 300px;
    }
}

@media (min-width:540px) {
    .Youtube {
        height: 400px;
    }
}

@media (min-width:800px) {
    .Youtube {
        height: 500px;
    }
}

@media (min-width:)

/***********************/
/* KIES JE VERSIE DEEL */
/***********************/
.container3 {
    background-repeat: no-repeat;
    background-position: center;
    padding: 2px;
    margin: 5px;
}

.container3 h1 {
    color: black;
}

.container3 p {
    color: black;
    font-family: "Provicali";
}

@media (min-width: 375px) {
    .container3 p {
        font-size: 15px;
    }
}

@media (min-width: 500px) {
    .container3 p {
        font-size: 17px;
    }
}

@media (min-width:810px) {
    .container3 p {
        font-size: 20px;
    }
}

.container3 ul {
    display: flex;
    list-style: none;
    margin-right: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.container3 li {
    padding: 10px;
}

.LillardCover {
    display: flex;
    margin: auto;
    height: 300px;
}

@media (min-width:370px) {
    .LillardCover {
        height: 350px;
    }
}

@media (min-width:500px) {
    .LillardCover {
        height: 500px;
    }
}

@media (min-width:730px) {
    .LillardCover {
        height: 350px;
    }
}

.MambaCover {
    display: flex;
    margin: auto;
    height: 300px;
}

@media (min-width:370px) {
    .MambaCover {
        height: 350px;
    }
}

@media (min-width:500px) {
    .MambaCover {
        height: 500px;
    }
}

@media (min-width:730px) {
    .MambaCover {
        height: 350px;
    }
}

.ZionCover {
    display: flex;
    margin: auto;
    height: 300px;
}

@media (min-width: 370px) {
    .ZionCover {
        height: 350px;
    }
}

@media (min-width: 500px) {
    .ZionCover {
        height: 500px;
    }
}

@media (min-width:730px) {
    .ZionCover {
        height: 350px;
    }
}

/*************************/
/* COURTSIDE REPORT DEEL */
/*************************/
.container4 {
    padding: 2px;
    margin: 5px;
    min-height: 500px;
}

.container4 h1 {
    color: black;
}

.container4 p {
    display: flex;
    justify-content: flex-start;
    color: black;
}


/**********/
/* FOOTER */
/**********/
footer {
    background-color: black;
    padding: 2px;
    margin: 5px;
    height: 700px;
}

footer p {
    margin: auto;
    padding: 30px;
    max-width: 800px;
}

@media (min-width: 375px) {
    footer p {
        font-size: 15px;
    }
}

@media (min-width: 500px) {
    footer p {
        font-size: 17px;
    }
}

@media (min-width:810px) {
    footer p {
        font-size: 20px;
    }
}

.Text a {
    display: flex;
    text-decoration: none;
    color: white;
}

.Text a:focus {
    color: red;
}

.Text ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 30px;
    justify-content: center;

}

.Text li {
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-right: 30px;

}

.Text2 a {
    display: flex;
    text-decoration: none;
    color: white;
}

.Text2 a:focus {
    color: red;
}

.Text2 ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;

}

.Text2 li {
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-right: 30px;

}

#land {
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px;
    background-color: darkgray;
    color: white;
}


/**************/
/*Social icons*/
/**************/
.Social ul {
    display: flex;
    justify-content: center;
}

.Social li {
    margin-right: 30px;
}

.Social a:focus {
    color: red;
}


.Everyone {
    display: block;
    margin: auto;
}


/****************/
/* KOPEN PAGINA */
/****************/
.KopenPagina {
    margin: 0;
    padding: 2px;
    margin: 5px;
}

@media (min-width:900px) {
    .KopenPagina {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 2rem;
        margin: auto;
        padding 1.5em;
    }
}

.MambaCover2 {
    display: flex;
    margin: auto;
    height: 300px;
}

@media (min-width:325px) {
    .MambaCover2 {
        height: 350px;
    }
}

@media (min-width:400px) {
    .MambaCover2 {
        height: 400px;
    }
}

@media (min-width:500px) {
    .MambaCover2 {
        height: 500px;
    }
}

@media (min-width:650px) {
    .MambaCover2 {
        height: 600px;
    }
}

@media (min-width:900px) {
    .MambaCover2 {
        height: 500px;
    }
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.container3 ul {
    display: flex;
    list-style: none;
    margin-right: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-self: flex-start;
}

.KopenPagina h1 {
    margin-top: 100px;
    color: red;
}

@media (min-width: 600px) {
    .KopenPagina h1 {
        font-size: 40px;
    }
}

@media (min-width: 700px) {
    .KopenPagina h1 {
        font-size: 60px;
    }
}

@media (min-width: 995px) {
    .KopenPagina h1 {
        font-size: 80px;
    }
}

.KopenPagina p {
    font-family: "Provicali";
}

div.KopenPagina ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.Playstation {
    background-color: black;
}

.Playstation:active {
    background-color: white;
}

.Xbox {
    background-color: black;
}

.Xbox:active {
    background-color: white;
}

.Steam {
    background-color: black;
}

.Steam:active {
    background-color: white;
}

.Stadia {
    background-color: black;
}

.Stadia:active {
    background-color: white;
}

.PlaystationStore {
    display: flex;
    text-align: center;
    background-color: red;
    width: 280px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    font-family: "Provicali";
    color: white;
}

.Bonus {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    border-style: solid;
    border-color: red;
}

@media (min-width:344px) {
    .Bonus {
        width: 300px;
    }
}

@media (min-width:440px) {
    .Bonus {
        width: 400px;
    }
}

.Bonus h2 {
    color: red;
}

.Vragen {
    display: flex;
    text-align: center;
    background-color: rgb(0, 0, 0, 0);
    border-style: solid;
    border-color: red;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 50px;
    text-decoration: none;
    font-family: "Provicali";
    color: white;
}

.Vragen:focus {
    background-color: darkred;
}

@media (min-width:344px) {
    .Vragen {
        width: 300px;
    }
}

@media (min-width:440px) {
    .Vragen {
        width: 360px;
    }
}

button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: black;
    color: white;
}
